<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Saved Articles </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/saved">Saved Articles</a></li>


      </ul>
    </div>
  </nav>



</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/saved">Saved Articles</a></li>

</ul>


{{!-- parallax img 1 --}}
<div class="parallax-container">
  <div class="parallax">
    <img class="mainPic" src="assets/images/news.jpg">
  </div>
</div>

<div class="container">
  <div id="caption">
    <h4>Saved Articles</h4>
    <p> Your Saved Articles </p>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- javascript file -->
<script src="/assets/javascript/saved.js"></script>